<div class="container pt-5">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <p><%= list.name %></p>
    <% end %>
  <% end %>
  <%= link_to 'crie uma lista', new_list_path %>
</div>
